/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* color variables */
    --highlight-color: #ff5f33;
    --light-dark: #262626;
    --black: #000000;
    --white: #ffffff;
    --light-ash: #d1d1d1;
    --red: #ff0f03;
    --gold: #926E02;
    --brown: #5d5d5d;
    --hover: #e6d9d9;
    --active: #e6d9d9;
    --dark-gold: #926E02;
    --light-gold: #FFF9F0;
    --grey: #3D3D3D;
}



/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: var(--black);
    font-family: 'Poppins', sans-serif;
}

/* ====================================================
   Styles for Header
   ==================================================== */

   header {
    background-color: var(--black);
    color: var(--white);
    padding: 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color: var(--white);
}


#menu {
    font-size: 100%;
    letter-spacing: 1px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 5px;
}

#logo {
    font-size: 140%;
    line-height: 35px;
    margin: 0 4px 0 4px;
}


/* Navbar with dropdown toggle like style */
nav {
    position: absolute;
    background-color: var(--black);
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px var(--black);
    display: none;
    top: 100%;
}

/* Navbar toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 1rem;
}

/* Hambburger icon */
.menu-icon {
    height: 35px;
    width: 35px;
    vertical-align: middle;
}

/* ====================================================
   Base styles
   ==================================================== */

   h1 {

    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 24px;
}

h2 {
    font-size: 19px;
}

h3 {
    font-size: 16px;
    margin: 10px 0;
}

p {
    font-size: 16px;
    margin: 5px 0;
}

a:hover {
    font-weight: bold;
}




/* Main content */
main {
    background-color: #ffffff;
    /* Make main element take up any enough space to push footer down */
    flex: 1 0 auto;
    margin-top: 67px;

}

/*  General Container Styles */
.container {
    max-width: 1600px;
    margin-top: 156px;
    margin-bottom: 156px;
}

.div-container {
    text-align: center;
    padding: 50px;
    
}

.div-container h3 {
    text-align: center;
    padding: 2px;
    font-size:150%;
}

.div-container i {
    color: var(--gold);
}

.div-container p {
    margin-top: 20px;
}

.ncontainer {
    max-width: 100%;
    margin: 0 auto;
    padding: 50px;
    background: var(--light-gold);
}

.nsection {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image-container {
    flex-basis: 30%;
}

.image-container img {
    width: 100%;
    height: 100%;
}

.text-container {
    flex-basis: 70%;
    padding-left: 30px;
}

.text-container h3 {
    font-size:150%;
}


.text-container p {
    margin-top: 20px;
}


section.headings {
    padding: 2rem;
    text-align: center;
}

span {
    font-weight: bold;
}

.bend {
    font-style: italic;
    color: var(--gold);
}

/* Hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/main-hero-image.webp") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 25px;
}

#cover-text>h2,
#cover-text>p {
    color: #ffffff;
    padding: 10px;
    font-size: 22px;
}

div#cover-text h2 {
    font-size: 30px;
}




/*404 page*/
.space {
    margin: 40px 0px 40px 0px;
}

.headings h2 {
    font-size: 250%;
}



/* Top contain to add on about us, gallery and contact pages */
.top-container {
    height: 200px;
    width: 100%;
    background: var(--light-gold);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 40px;
}

.top-text h2 {
    color: var(--black);
    margin-bottom: 10px;
    font-size: 24px;
}

.top-text p {
    color: var(--grey);
}

/* ====================================================
   Contact Page Styles
   ==================================================== */

/* Common styles for grid container (base styles for mobile) */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin: 20px;
    text-align: center;
}

/* Styles for grid items (base styles for mobile) */
.grid-item {
    padding: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 12px;
}

.grid-item a {
    color: #000000;
    text-decoration: none;
}

/* Styles for grid item icon (base styles for mobile) */
.grid-item-icon {
    height: 30px;
    width: 30px;
}

/* Contact Form styles */
#contact {
    flex-grow: 1;
}

#contact-form {
    color: var(--black);
    background-color: var(--white);
    padding: 30px;
    margin: 40px 0px 80px;
}

.text-input {
    background: transparent;
    color: var(--grey);
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border-radius: 2px;
    padding: 1.6rem 2rem;
    border: 0.1rem solid #d1d1d1;
    font-size: inherit;
}

.contact-textarea {
    resize: none;
    height: 20rem;
    font-family: inherit;
}

.button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 27px;
    font-size: 100%;
    background-color: var(--black);
    color: var(--white);
    text-decoration: none;
}

a.button {
    color: var(--white);
}

.button:hover,
.button:focus {
    background: var(--white);
    color: var(--black);
    border: 2px;
    border-color: var(--black);
    border-style: groove;
}

.color-imp {
    color: #ac0b02;
}

/* Google Maps Styles*/
.map-embed {
    width: 100%;
    height: 350px;
}

/* Map container with padding*/
.map-container {
    text-align: center;
    padding: 20px;

}

/* Gallery styles */
#photos img {
    width: 100%;
    line-height: 1em;
    padding:5px;
}

#photos {
    line-height: 0;
    padding:5px;
}




/** Old Footer Styles

footer {
    bottom: 0;
    width: 100%;
    color: #000000;
    border-top: solid;
    border-color: #eee;

}

.footer-block {
    text-align: left;
    padding: 2rem 2rem;
    font-size: 1rem;
    max-width: 1600px;
    margin: 0 auto;

}

.footer-block h3 {
    font-size: 1.5rem;
}

.footer-block h4 {
    padding-bottom: 10px;
}

.footer-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-links li {
    margin: 0.5rem 0 1rem;
}

.footer-link {
    color: var(--black);
    text-decoration: none;
}


.footer-block .footer-icons {
    margin-top: 15px;
}

.footer-block .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 30px;
    font-size: 20px;
    color: var(--black);
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-about {
    color: var(--black);
    padding-top: 10px;
}


.footer-column {
    margin: 1rem 0 1rem;
    width: 100%;
    padding: 0;
}
 */
/* Footer Middle 

.footer-block .footer-middle {
    width: 100%;
}


.footer-block .footer-middle i {
    background-color: var(--black);
    color: var(--white);
    font-size: 14px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin: 10px 5px;
    vertical-align: middle;
}


.footer-block .footer-middle p {
    display: inline-block;
    vertical-align: bottom;
    padding: 4px;
    margin: 8px 2px 0px 0px
}


.footer-block .footer-middle p a {
    color: var(--black);
    text-decoration: none;
    ;
}
*/
/* Bottom footer text and link 
.bottom-footer {
    text-align: center;
    background: var(--black);
    color: #ffffff;
    margin: 0;
    padding: .5rem 0;
    font-size: 14px;
}

.bottom-footer a {
    color: var(--white);
}

*/

/* ====================================================
   Footer Styles
   ==================================================== */

   footer {
    bottom: 0;
    width: 100%;
    color: var(--black);
    border-top: solid;
    border-color: #eee;
}

.footer-container {
    text-align: left;
    padding: 20px 20px;
    font-size: 1rem;
    max-width: 1600px;
    margin: 0 auto;

}

.footer-container h3 {
    font-size: 1.5rem;
}

.footer-container h4 {
    padding-bottom: 10px;
}

.footer-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-links li {
    margin: 0.5rem 0 1rem;
}

.footer-link {
    color: var(--black);
    text-decoration: none;
}


.footer-container .footer-icons {
    margin-top: 15px;
}

.footer-container .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 30px;
    font-size: 20px;
    color: var(--black);
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-about {
    color: var(--black);
    padding-top: 10px;
}


.footer-item {
    margin: 1rem 0 1rem;
    width: 100%;
    padding: 0;
}

/* Footer Middle */

.footer-container .footer-middle {
    width: 100%;
}


.footer-container .footer-middle i {
    background-color: var(--black);
    color: var(--white);
    font-size: 14px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin: 10px 5px;
    vertical-align: middle;
}

.footer-container .footer-middle p {
    display: inline-block;
    vertical-align: bottom;
    padding: 4px;
    margin: 8px 2px 0px 0px
}


.footer-container .footer-middle p a {
    color: var(--black);
    text-decoration: none;
    ;
}

/* Bottom footer text and link */
.bottom-footer {
    text-align: center;
    background: var(--black);
    color: var(--white);
    margin: 0;
    padding: 1rem 1rem;
    font-size: 14px;
}


/*icons images in footer */
img.social-icons {
    height: 20px;
    width: 20px;
}



/* ==========================================================================
   Media queries
   ========================================================================== */

/* Media query: small screen mobiles (upto 576px) */
@media screen and (max-width: 576px) {

    .nsection {
        flex-direction: column;
    }

    .image-container,
    .text-container {
        flex-basis: 100%;
        padding-left: 0;
        margin-bottom: 20px;
    }

    .image-container img {
        width: 100%;
        height: 100%;
    }

}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    #photos {
        column-count: 2;
        column-gap: 0;
    }
    
    .nsection {
        flex-direction: column;
    }

}


/* Media query for tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* General Styles */

h3 {
    font-size: 18px;
    margin: 10px 0;
}

p {
    font-size: 16px;
    margin: 5px 0;
}

 /* Header */
 nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
}

.active {
    border-bottom: 1px solid var(--active);
}

#menu {
    display: flex;
}

#menu>li {
    padding-left: 1.5rem;
}

#menu>li {
    margin-bottom: 0px;
}

#menu a:hover {
    border-bottom: 1px solid var(--hover);
}

.nav-toggle-label {
    display: none;
}

#logo {
    font-size: 150%;
    line-height: 35px;
    margin: 0 0.5rem;
}

/* Grid Styles */

.grid-container {
    gap: 50px;
    margin: 40px;
}

.grid-item {
    padding: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.grid-item-icon {
    height: 50px;
    width: 50px;
}

.nsection {
    flex-direction:row;
}
/* Contact Form styles */
#contact {
    padding: 0 100px;
}

/* Gallery page styles */
    #photos {
        column-count: 3;
    }

    /* Footer */
    .footer-container {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }


    .footer-item {
        margin: 1rem 0 1rem;
        width: 80%;
    }



}
