/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* color variables */
    --highlight-color: #ff5f33;
    --light-dark: #262626;
    --black: #000000;
    --white: #ffffff;
    --light-ash: #d1d1d1;
    --red: #ff0f03;
    --gold: #BF8F02;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Poppins', sans-serif;
}


/* Header */
header {
    background-color: var(--black);
    color: var(--white);
    padding: 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: var(--white);
}

h1 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 170%;

}

#menu {
    font-size: 110%;
    letter-spacing: 1px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar with dropdown toggle like style */
nav {
    position: absolute;
    background-color: #000000;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Navbar toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    background-color: #ffffff;
    /* Make main element take up any enough space to push footer down */
    flex: 1 0 auto;

}

.container {
    max-width: 1600px;
    margin-top: 156px;
    margin-bottom: 156px;
}

section.headings {
    padding: 2rem;
    text-align: center;
}

/* Hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/main-hero-image.webp") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 25px;
}

#cover-text>h2,
#cover-text>p {
    color: #ffffff;
    padding: 10px;
}

/* Contact Page Banner */
#contact-banner {
    height: 350px;
    width: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/contact-us-page-banner-image.webp") no-repeat top center/cover;
}

#contact-banner-text {
    font-size: 130%;
    position: relative;
    margin: 0;
    top: 43%;
    text-align: center;
}

#contact-banner-text h2 {
    color: #ffffff;

}

/* About Page Banner */
#about-banner {
    height: 350px;
    width: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/mass-in-church.webp") no-repeat top center/cover;
}

#about-banner-text {
    font-size: 130%;
    position: relative;
    margin: 0;
    top: 43%;
    text-align: center;
}

#contact-banner-text h2 {
    color: #ffffff;

}

/*404 page*/
.space{
    margin:50px;
}


/*icons images in footer */
img.social-icons {
    height: auto;
    width: 20px;
}

/*hambburger icon */
.menu-icon {
    width: 35px;
    vertical-align: sub;
}

/* Form styles */
#contact {

    padding: 20px 10% 0 10%;
    flex-grow: 1;
}

#contact-form {
    color: #000000;
    background-color: #ffffff;
    padding: 30px;
    margin: 40px 0px 80px;
}

.text-input {
    background: transparent;
    color: #020202;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border-radius: 2px;
    padding: 1.6rem 2rem;
    border: 0.1rem solid #d1d1d1;
    font-size: inherit;
}

.contact-textarea {
    resize: none;
    height: 20rem;
    font-family: inherit;
}

.button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color:  var(--black);
    color:  var(--white);
    text-decoration:none;
}

.button:hover, .button:focus {
   background: var(--white);
   color: var(--black);
   border: 2px;
   border-color: var(--black);
   border-style: groove;
}

.color-imp {
    color: #ff0f03;
}

/* Gallery styles */
#photos img {
    width: 100%;
    line-height: 1em;
}

#photos {
    line-height: 0;
}


/* Footer Styles*/

footer {
    bottom: 0;
    width: 100%;
    color: #000000;
    border-top: solid;
    border-color: #eee;

}

.footer-block {
    text-align: left;
    padding: 2rem 2rem;
    font-size: 1rem;
    max-width: 1600px;
    margin: 0 auto;

}

.footer-block h3 {
    font-size: 1.5rem;
}

.footer-block h4 {
    padding-bottom: 10px;
}

.footer-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-links li {
    margin: 0.5rem 0 1rem;
}

.footer-link {
    color: var(--black);
    text-decoration: none;
}


.footer-block .footer-icons {
    margin-top: 15px;
}

.footer-block .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 30px;
    font-size: 20px;
    color: var(--black);
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-about {
    color: var(--black);
    padding-top: 10px;
}


.footer-column {
    margin: 1rem 0 1rem;
    width: 100%;
    padding: 0;
}

/* Footer Middle */

.footer-block .footer-middle {
    width: 100%;
}


.footer-block .footer-middle i {
    background-color: var(--black);
    color: var(--white);
    font-size: 14px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin: 10px 5px;
    vertical-align: middle;
}


.footer-block .footer-middle p {
    display: inline-block;
    vertical-align: bottom;
    padding: 4px;
    margin: 8px 2px 0px 0px
}


.footer-block .footer-middle p a {
    color: var(--black);
    text-decoration: none;
    ;
}

/* Bottom footer text and link */
.bottom-footer {
    text-align: center;
    background: var(--black);
    color: #ffffff;
    margin: 0;
    padding: .5rem 0;
    font-size: 14px;
}

.bottom-footer a {
    color: var(--white);
}

/* ==========================================================================
   Media queries
   ========================================================================== */

/* Media query: small screen mobiles (576px and up) */
@media screen and (max-width: 576px) {

    .footer-block {
        padding: 10px;
    }

    .footer-block .footer-middle i {
        background-color: var(--black);
        color: var(--white);
        font-size: 13px;
        width: 27px;
        height: 27px;
        border-radius: 50%;
        text-align: center;
        line-height: 29px;
        margin: 10px 4px;
        vertical-align: middle;
    }
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    #photos {
        column-count: 2;
        column-gap: 0;
    }



    main {

        margin-top: 72px;
    }
}


/* Media query for different screens: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 2rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 139%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 107px;

    }

    /* Gallery page styles */
    #photos {
        column-count: 3;
    }



}

/* Large device screens (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #e6d9d9;
    }

    /* desktop footer */
    .footer-block {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 2rem 4rem;
    }

    .footer-left {
        width: 80%;
    }

    /* Gallery page styles*/
    #photos {
        column-count: 3;
    }



    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 107px;

    }

}